Repository adobecom/dc, pull requests merged in 2023-09, with the labels that each got.

#359 Revert "update to put widget on stage in new folder"
  acrobat/blocks/dc-converter-widget/dc-converter-widget.js
Labels: trivial

#360 DC MILO 0.2336
  .github/workflows/test-milo.yml
  acrobat/blocks/dc-converter-widget/dc-converter-widget.js
  acrobat/blocks/eventwrapper/eventwrapper.css
  acrobat/blocks/eventwrapper/eventwrapper.js
  acrobat/scripts/bowser.js
  acrobat/scripts/contentSecurityPolicy/dev.js
  acrobat/scripts/contentSecurityPolicy/prod.js
  acrobat/scripts/contentSecurityPolicy/stage.js
  acrobat/scripts/frictionless.js
  acrobat/scripts/legacy.js
  acrobat/scripts/legacyBrowser.js
  acrobat/scripts/scripts.js
  head.html
  test/blocks/dc-converter-widget/dc-converter-widget.test.js
  test/blocks/eventwrapper/eventwrapper.test.js
  test/scripts/bowser.test.js
  test/scripts/frictionless.test.js
  test/scripts/legacy.test.js
  test/scripts/legacyBrowser.jest.js
  test/scripts/scripts.jest.js
  test/scripts/scripts.test.js
Labels: run-nala, @frictionless

#366 Fix test
  test/e2e/frictionless/features/smoke/converter.feature
Labels: trivial, test

#367 MWPW-123527 Gnav test
  .github/workflows/test-milo.yml
  test/e2e/frictionless/features/smoke/analytics.feature
  test/e2e/frictionless/features/smoke/converter.feature
  test/e2e/frictionless/features/smoke/eventwrapper.feature
  test/e2e/frictionless/features/smoke/gnav.feature
  test/e2e/frictionless/features/smoke/review.feature
  test/e2e/frictionless/page-objects/compresspdf.page.js
  test/e2e/frictionless/page-objects/dcgnav.page.js
  test/e2e/frictionless/page-objects/frictionless.page.js
  test/e2e/frictionless/step-definitions/dc.steps.js
  test/e2e/frictionless/support/cardinal.js
Labels: test

#363 MWPW-129470: Added GitHub Action for js and css lint
  .github/workflows/run-lint.yml
Labels: trivial

#370 Fix unit tests
  test/blocks/dc-converter-widget/dc-converter-widget.test.js
  test/blocks/eventwrapper/mocks/body.html
Labels: trivial

#378 Update workflow
  .github/workflows/test-milo.yml
Labels: trivial, test

#384 MWPW-132336 Analytics test for browser ext modal
  .eslintignore
  package-lock.json
  package.json
  test/e2e/README.md
  test/e2e/frictionless/features/regression/analytics.feature
  test/e2e/frictionless/features/regression/analytics/analytics_spec.yml
  test/e2e/frictionless/features/smoke/analytics.feature
  test/e2e/frictionless/features/smoke/analytics/analytics_spec.yml
  test/e2e/frictionless/page-objects/frictionless.page.js
  test/e2e/frictionless/step-definitions/dc.steps.js
Labels: test
