Repository adobecom/dc, pull requests merged in 2023-10, with the labels that each got.

#396 MWPW-133317 Analytics test for resources pages
  .gitignore
  package-lock.json
  package.json
  test/e2e/frictionless/features/regression/analytics/analytics_spec.yml
  test/e2e/frictionless/features/regression/resources_analytics.feature
  test/e2e/frictionless/features/regression/resources_analytics/analytics_spec.yml
  test/e2e/frictionless/step-definitions/dc.steps.js
Labels: test

#405 MWPW-135236 Auto trigger test after SharePoint changes
  .github/scripts/check_404.spec.js
  .github/scripts/notify_slack.js
  .github/scripts/query_index.js
  .github/scripts/query_metadata.js
  .github/workflows/metadata-published.yml
  .github/workflows/page-published.yml
  .github/workflows/test-page-published.yml
Labels: test

#413 MWPW-137590: add loc html
  tools/loc/glaas.html
  tools/loc/index.html
  tools/loc/spauth.html
  tools/loc/translation.css
  tools/sidekick/config.json
Labels: do not merge

#411 Fix unit test
  package.json
  test/blocks/dc-converter-widget/dc-converter-widget-rearrange-pdf-200.jest.js
  test/blocks/dc-converter-widget/dc-converter-widget-rearrange-pdf-404.jest.js
  test/blocks/dc-converter-widget/mocks/body-rearrange-pdf.html
  test/blocks/eventwrapper/mocks/body.html
Labels: trivial, test

#422 Update test-milo.yml
  .github/workflows/test-milo.yml
Labels: test

#423 Fix tests and workflow
  .github/workflows/test-page-published.yml
  package-lock.json
  package.json
Labels: trivial, test

#372 Revert "MWPW-136010"
  acrobat/blocks/dc-converter-widget/dc-converter-widget.js
  acrobat/styles/styles.css
Labels: do not merge

#437 Fix a workflow
  .github/workflows/metadata-published.yml
Labels: trivial, test
